body {
  font-family: sans-serif;
  padding: 2.5% 5% 0rem 2.5%;
  margin: 0 auto 0 auto;
}

a {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1.5rem;
}

h1 {
  font-size: 2.25rem;
}

